* {
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
}

footer {
    height: 8vh;
    min-height: 75px;
}

footer p{
    font-style: italic;
    font-weight: 200;
    font-size: 0.825rem;
}


.main-container {
    padding: 0.25rem 1.5rem;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}

.bigflex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

body {
    margin: 0;
}

/*
main:first-child {
    margin: 1.25rem 0rem 0rem;
}
*/

header {
    background-color: #2d3945;
    color: aliceblue;
    width: 100%;
    margin: 0 auto 2rem;
    padding: 1rem 0rem;
}

/* Form element styles ---------- */
form {
    border-top: 0.25rem solid black;
    padding: 0.625rem 0rem 0rem;
    margin-top: 1.5rem;
}

fieldset {
    border: none;
    border-top: 0.125rem solid black;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    width: 100%;
}

fieldset:last-of-type {
    background-color: rgb(240, 240, 219);
    padding: 1rem;
    border-radius: 0px 0px 6px 6px;
}

legend {
    float: left;
    display: flex;
    align-self: flex-start;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1.25rem 0rem;
    padding: 0.5rem 0rem 0rem;
    color: #202124;
}

textarea {
    min-height: 7rem !important;
    width: 100%;
    justify-content: flex-start;
    padding-top: 1rem !important;
    text-align: left;
}

textarea:last-of-type, input[type=submit]:last-of-type {
    margin-bottom: 1.5rem;
}

input[type=text], input[type=email], input[type=tel], input[type=submit], select, textarea {
    margin: 0.5rem 0rem 3rem;
    width: 100%;
    height: 3rem;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: 2px solid lightgray;
    box-shadow: 0px 0px 9px inset rgba(0,0,0,0.08);
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

input[type=radio], input[type=checkbox] {
    margin-left: 0px;
}

input[type=submit] {
    background-color: cadetblue !important;
    color: aliceblue;
    border: none;
    margin-bottom: 3rem;
    height: 3.25rem;
}

label {
    font-family: 'Roboto Serif', sans-serif;
    color: dimgray;
    font-weight: 400;
    font-size: 1rem;
}

select:required:invalid {
  color: lightgray;
}

option {
  color: black;
}

#zip {
    width: 50%;
}

::placeholder {
    text-align: right;
    color: darkgray;
}

textarea::placeholder,input[type=tel]::placeholder {
    text-align: left;
}

input:focus::placeholder, select:focus:invalid {
    font-size: initial;
}

input[type=submit]:hover {
    cursor: pointer;
    opacity: 80%;
    border: none;
    box-shadow: 0px 0px 9px rgb(239, 246, 252);
}

input[type=submit]:focus, input[type=submit]:hover  {
    border: none !important;
    height: 4.5rem !important;
    margin-bottom: 0.25rem !important;
    opacity: 80%;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.08);
    width: 100%;
    transition-duration: .2s;
    font-size: 1.25rem;
}

textarea:focus {
    transition-duration: 0.2s;
    border: 2px solid #46698b;
    box-shadow: none;
    background-color: rgba(240, 248, 255, 0.70);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=submit]:focus {
    height: 4.25rem;
    transition-duration: 0.2s;
    border: 2px solid #46698b;
    box-shadow: none;
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
    background-color: rgb(239, 246, 252);
}

select:focus {
    transition-duration: 0.2s;
    border: 2px solid #46698b;
    box-shadow: none;
    background-color: rgb(239, 246, 252);
}

/* End form element styles ----------- */

.container {
    display: flex;
    flex-flow: column wrap;
/*    padding: 0.125rem 0.25rem 0.25rem;*/
    align-items: flex-start;
    padding: 0;
    margin: 0.125rem 0rem 0rem;
    width: 100%;
}


/*
.container > * {
    background-color: beige;
}
*/



ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px;
}

h1, h2, h3, h4, p {
    font-family: 'Roboto Serif', sans-serif;
    text-align: center;
    width: auto;
}

h2, h3, h4 {
    line-height: 2.25rem;
    margin: 0.5rem 0.25rem 0rem;
    font-weight: 600;
    color: #202124;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

p {
    line-height: 1.25rem;
    margin: 0.25rem 0.125rem 0rem;
    font-weight: 200;
    color: darkgray;
}

.center {
    text-align: center;
    justify-content: center !important;
    align-items: center;
}

.center h2 {
    width: 100%;
}

div[class="container center"] {
   margin-bottom: 2rem; 
}

.bottom-margin {
    margin-bottom: 1rem;
}

.inline {
    display: inline-block;
    margin: 0.5rem 0rem;
}

.inline-container {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2rem;
}

/*Media queries ----------- */
@media screen and (min-width: 768px) {
    .main-container {
        width: 70vw;
        max-width: 960px;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .form-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    }
    
    .form-row label {
        width: 10rem;
        flex: 0 0 auto;
    }
    
    .form-row input, .form-row select {
        width: 55%;
        margin-left: 10%;
        flex-grow: 2;
    }
    
    #zip {
        flex-basis: 20%;
        flex-grow: unset;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    select {
        margin: 1rem 0rem 1rem 10% !important;
    }
    
    fieldset:first-of-type legend:first-child {
        width: 100%;
    }
    
    fieldset:last-of-type {
        flex-flow: column nowrap;
    }
    
    input[type=text]:focus,
    input[type=email]:focus,
    input[type=tel]:focus {
        height: 3rem !important;
        font-size: 1.25rem !important;
        width: 65% !important;
        margin-left: 0px !important;
        transition-duration: .2s;
    }
}